<BODY bgcolor="#F3F3EC"><font face="Arial" style="font-size: 9pt; color: #0000FF; font-weight: bold">All GTA Device Contacts except CTS Technical Lead & GMS Technical Lead are sourced from GPPD and NPI.</font></A></BODY>